@charset "utf-8";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  height: 100svh;
  display: grid;
  place-items: center;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.center {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: center;
}

body {
  background-color: #f4f5f7;
  margin: 0;
}

h1 {
  font-size: 200px;
  font-weight: 600;
  margin: 0;
  font-variant: tabular-nums;
}

h2 {
  font-size: 60px;
  font-weight: 600px;
  margin: 0;
}

input {
  font-size: 20px;
  font-weight: 400;
  margin-right: 15px;
  background-color: #f4f5f7;
}

button {
  font-size: 20px;
  font-weight: 500;;
  padding: 10px;
  background-color: aqua;
  border-radius: 5px;
}
